body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: gray;
}
h1{
	text-align: center;
	padding: 5px;
}
#gif{
	
	width: 30%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#page{
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	text-align:center;
	padding: 5px;
}

#table
{
	margin: 5px auto;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid black;
}